<html>
<head>
	<title>[INSERT TITLE HERE]</title>
	<meta charset="utf-8" lang="en-gb"/>
	<link type="text/css" rel="stylesheet" href="frontend/css/materialize.min.css" type="stylesheet"/>
	<link type="text/css" rel="stylesheet" href="frontend/css/material-design-icons.css" type="stylesheet"/>
	<link type="text/css" rel="stylesheet" href="frontend/css/webAppMain.css" type="stylesheet"/>
</head>
<body>
	<div class="row">
		<div id="navarea" class="col s3 m3 l3 grey darken-4 white-text section">
			<h5>Name</h5>
			<h6>Office</h6>
			<div class="center-align">
				<a class="navbuttons waves-effect waves-teal btn-flat white-text" onclick="logout();">Log-out</a>
			</div>
		</div>
		<div id="mainc"class="col s9 m9 l9 section red darken-3">
			<p>Welcome to the [INSERT WEBAPP TITLE HERE]</p> 
		</div>
	</div>
	<script type="text/javascript" src="frontend/js/jquery-3.0.0.min.js"></script>
    <script type="text/javascript" src="frontend/js/materialize.min.js"></script>
    <script type="text/javascript">
    function logout(){
    	$.get("/CMSC198/logout/",function(data){
    		window.location.href = "/CMSC198/";
    	});
    }
    </script>
</body>
</html>
